html,
body {
  font-family: "Open Sans", sans-serif;
}

.edit {
  color: #13135f;
  cursor: pointer;
}

.remove {
  color: #dc3545;
  cursor: pointer;
}

.icon {
  visibility: hidden;
  font-size: 1.5rem;
}

tr:hover .icon {
  opacity: 0.6;
  visibility: visible;
}

tr .icon:active {
  opacity: 1;
}

.close-icon {
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

.details {
  color: #13135f;
  cursor: pointer;
}

.highlightOption {
  background: #6610f2;
  color: #fff;
}

.optionContainer .option:hover {
  background: #6610f2;
}
