html,
body {
  font-family: "Open Sans", sans-serif;
}

.edit {
  color: #13135f;
  cursor: pointer;
}

.remove {
  color: #dc3545;
  cursor: pointer;
}

.icon {
  visibility: hidden;
}

tr:hover .icon {
  opacity: 0.6;
  visibility: visible;
}

tr .icon:active {
  opacity: 1;
}

.close-icon {
  cursor: pointer;
}

.page-link {
  cursor: pointer;
}

.details {
  color: #13135f;
  cursor: pointer;
}
